/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


body {
  /*background-color: white;*/
  /*background-color: #CAC7A7;*/
  /*background-color: #9B945F;*/
  /*background-color: #524727;*/
  /*color: #F1BE48;*/
}

.Login{
  text-decoration: underline;
  text-align: right;
  margin-right: 10%;
  margin-top: 1%;
  text-decoration-color: white;
}

.signup{
  color: white;
  cursor: pointer;
}

tr:nth-child(even){
  background-color:  #9B945F;
}

tr:nth-child(odd){
  background-color:  #CAC7A7;
}

tr:nth-child(1){
  background-color: #9B945F;
}

table {
  /*border-color:  #524727;*/
  text-decoration-color: white;
  border: 2px solid #524727;
}

/*full background color*/
.navbar-wrapper, .carousel-custom, .carousel-control.left, .carousel-control.right, body{
  background-color: #CAC7A7;

}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


.navbar-custom{
  color: #c8102e;
  background-color:  #c8102e;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  color: white;
  /*background-color: white;*/
  /*background-color: #CAC7A7;*/

}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.dropdown-toggle:active, .open, .dropdown-toggle {
  background: #c8102e !important;
  color: white !important;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel-custom{
  color: white;
  /*background-color: white;*/
  /*background-color: #CAC7A7;*/

}

/* Carousel base class */
.carousel {
  padding-bottom: 18%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  /*background-color: #777;*/
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.left, .right {
  color: white;
  /*background-color: white;*/
}



.carousel-control.left, .carousel-control.right {
    background-image: none;
    /*color: rgb(165, 217, 44);*/
    /*background-color: white;*/
    /*background-color: #CAC7A7;*/

}

/*.carousel-control{
  color: white;
  background-color: white;
}*/


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 50px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
